//
//  Debug.xcconfig
//  RemoteConfigDemo
//
//  Created by Coleton Gorecke on 1/4/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Or whatever you used for your GoogleInfo.plist bundle id for debug app
APP_BUNDLE_ID = coletoncodes.RemoteConfigDemo
